@function get-contrast-color($color) {
  @if type-of($color) == 'string' and str-index($color, 'var(') {
    @return #000000;
  }

  $r: red($color);
  $g: green($color);
  $b: blue($color);

  $r-relative: if($r / 255 < 0.03928, $r / 255 / 12.92, pow(($r / 255 + 0.055) / 1.055, 2.4));
  $g-relative: if($g / 255 < 0.03928, $g / 255 / 12.92, pow(($g / 255 + 0.055) / 1.055, 2.4));
  $b-relative: if($b / 255 < 0.03928, $b / 255 / 12.92, pow(($b / 255 + 0.055) / 1.055, 2.4));

  $luminance: 0.2126 * $r-relative + 0.7152 * $g-relative + 0.0722 * $b-relative;

  @if ($luminance > 0.179) {
    @return #000000;
  } @else {
    @return #ffffff;
  }
}
